.slide-intro-man {
    background-image: url(../img/Portfolio/hero-section/bg-personal-intro-man.png)!important;
    background-position: 75% 50%;
}
/* .slide-intro-circle2 {
    top: -66.333333% !important
} */
.slide-title-lg {
    margin-left: 8.75rem;
    font-size: 7.40740741vmin;
}
.abt-text {
    margin-left: 8.75rem;
    font-size: 17px;
    line-height: 28px;
}
.abt-img img {
    scale: 1.75;
    width: 100%; 
    height: auto; 
    margin-top: -22%;
    max-width: 550px;
}
body {
    font-family: 'DM Sans', sans-serif;
    color: rgba(255, 255, 255, .6);
}
.slide-dark {
    background-color: #000000;
}
.slide-title-sub{
    color: #F09800 !important;
}
.slide-title{
    color: #ffffff
}
.btn-success,
.btn-success:hover,
.btn-success.focus,
.btn-success:focus,
.btn-success:not(:disabled):not(.disabled).active,
.btn-success:not(:disabled):not(.disabled):active,
.show > .btn-success.dropdown-toggle {
	background-color: #F09800;
	border-color: #F09800;
}
.circle-brown {
    background-color: #F09800;
}
.circle-golden {
    background-color: #F09800;
}
.header .container-fluid {
    color: rgb(255, 254, 254);
}
.slide-personal-intro {
    background-image: url(../img/Portfolio/Bg-personal/bg-personal-intro.png);
    background-size: cover;
}
.circle-light {
    background-color: #F09800;
}
.nav-toggle .stick {
    background: #F09800;
}
.footer .social :hover {
    color: #ffffff !important;
}
.contact-personal-card-detail .slide-title-sub{
    color: #ffffff!important;
}
.header-bg {
    background-color: #000000;
}
.circle-green {
    background-color: #F09800;
}
.award-item .award-item-title a:hover{
    color: #000!important;
    text-decoration: none;
}
.award-list .award-item {
    margin-top: 2.5rem;
}
/* .award-item-logo{
    margin-bottom: 1.75rem;
} */
.award-item {
    padding: 2.1875rem 2.5rem 3.2rem;
}
.experience-item .experience-item-company{
    color:#ffffff !important;
}
.slide-personal-awards,a,
a:hover {
	color: #F09800;
}
.award-item-title {
    font-family: 'DM Sans', sans-serif !important;
    font-size: 20px;
    font-weight: 600;
}
/* .award-item-logo {
    justify-content: center;
} */
.clients-photo-item6 img {
    width: 85%;
}
.clients-photo-item3 img {
    width: 87.240964%;
}
.slide-personal-clients .slide-title-info {
    margin-bottom: 8.407407vmin;
}
.clients-photo {
    margin-top: 0rem;
}
.slide-personal-clients .slide-title-info {
    font-size: 3.1rem;
}
.clients-photo .clients-photo-item1 {
	width: 19.29824561%;
	top: 5.050847%;
	left: 26.315789%;
}
.clients-photo .clients-photo-item2 {
	top: 14.2545%;
	left: 78.54386%;
}
.clients-photo .clients-photo-item3 {
	top: 60.813559%;
	right: 2.5%;
	width: 16.54140351%;
}
/* .clients-photo .clients-photo-item4 {
	top: 11.52542373%;
	left: 11.57894737%;
} */
.clients-photo .clients-photo-item5 {
    width: 22.9298%;
    right: 35.508772%;
    bottom: 4.508772%;
}
.clients-photo .clients-photo-item6 {
	width: 18.54386%;
	bottom: 41.101695%;
	left: 8.578947%;
}
.clients-photo .clients-photo-item7 {
	width: 49.12280702%;
	top: 23.05084746%;
	left: 31.92982456%;
}
.client-title{
    color: #ffffff;
}
.slide-personal-clients .title-mini{
    color: #F09800;
}
.client-item-title {
    color: #F09800;
}

/* .clients-photo .clients-photo-item8 {
	width: 12.28070175%;
	top: 73.55932203%;
	left: 6.31578947%;
} */
.testimonials-item-text {
    margin-bottom: 2.125rem;
}
.contact-personal-card .title-mini {
    color: #ffffff;
    margin-bottom: 0.975rem;
}
.mail{
    color: #ffffff;
}
.mail:hover {
    color: #000;
}
.contact-personal-card-detail .phone-link:hover{
    color: #000;
}
.contact-sub-heading{
    color: #ffffff !important;
}
.text-white .slide-descr {
    color: #909090;
    text-align: justify;
}
.form-group-material .label {
    font-size: 1.35rem;
}
.form-group-material .form-control {
    font-size: 1rem;
}
.slide-personal-contacts .slide-title-info {
    color: #F09800;
}
.contact-form .label {
    color: #F09800;
}
.form-group-material .form-control {
    color: rgb(255, 255, 255);
}
@media (min-width: 768px) {
    .slide-personal-intro .slide-title {
        font-size: 6.40740741vmin;
    }
}
/* mobile view  */

@media screen and (max-width: 767px) {
.slide-personal-intro .slide-photo {
        position: absolute !important;
        left: -160px;
        top: 188px;
}
.slide-personal-intro .slide-title-sub {
    margin-bottom: 1.5rem;
    font-size: 1.175rem;
}
.abt-img img {
    scale: 1.25;
    height: auto;
    width : 300px;
    border-radius: 10px;
}
.slide-personal-about .slide-title-lg {
    margin-left: -0.25rem;
    text-align: center;
}
.abt-text {
    margin-left: -0.25rem;
    text-align: justify;
}
.abt-text p {
    font-size: 16px;
    line-height: 22px;
}
.slide-services-circle2 {
    left: -168.4375% !important;
}
.award-item {
    padding: 2rem 2rem 2rem;
}
.award-item-title {
    font-size: 16px;
}
.award-item-descr {
    margin-bottom: 1rem;
}
.text-white .slide-descr {
    color: #ffffff;
    padding-right: 7%;
    text-align: justify;
}
.contact-personal-card-detail .phone-link:hover{
    color: #F09800;
}
.mail {
    font-size: 1.1rem;
    color: #909090;
}
.mail:hover {
    color: #F09800;
}
.contact-personal-card .title-mini {
    color: #F09800;
}
.form-group-material .form-control {
    color: #ffffff;
}
.slide-intro-circle1 {
    top: 14.462963% !important;
}
.slide-personal-intro .slide-title {
    font-size: 5.3vmin;
}
.portfolio-text{
    position: absolute;
    top: 150px;
}
.carousel-project-personal .carousel-project-item {
    background-position: 85% top;
    height: 65%;
}
.slide-personal-projects .slide-num {
    top: -120px!important;
}
.slide-personal-clients .title-mini {
    font-size: 1.3rem;
}
.slide-contacts-circle1 {
    width: 60.5625rem;
    height: 60.5625rem;
    top: 55.944444%;
    left: 60.5625%;
}
.slide-personal-contacts .title-mini {
    font-size: 1.3rem;
}
.slide-personal-contacts .slide-title-sub {
    font-size: 1.1rem;
}
.slide-contacts-circle2 {
    right: -7.96875%;
}
.contact-personal-card-detail .slide-title-sub{
    color: #999 !important;
}
.slide-personal-contacts .slide-title-info {
    color: #F09800;
}
}
/* tablet view  */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .slide-personal-intro .slide-title-sub {       
        font-size: 1.75rem;
    }
    .slide-personal-about img {
        scale: 1;
        width: 100%;
        height: auto;
        margin-top: -22%;
        max-width: 550px;
        position: relative;
        left: 70px;
        top: -83px
    }
    .slide-personal-intro .slide-title {
        font-size: 5.407407vmin;
    }
    .slide-descr-intro {
        margin-right: 18%;
        text-align: justify;
        font-size: 21px;
    }
    .carousel-project-personal .carousel-project-item {
        background-position: 95% top;
        height: 65%;
    }
    .portfolio-text{
        position: absolute;
        top: 270px;
    }
    .text-white .slide-descr {
        font-size: 21px;
        text-align: justify;
        padding: 0 1rem;
    }
    .slide-personal-clients .title-mini {
        font-size: 1.875rem;
    }
    .slide-personal-clients .slide-descr {
        font-size: 1.5rem;
    }
    .slide-contacts-circle1 {
        top: 91.944444%;
    }
    .slide-intro-circle1 {
        top: 22.462963% !important;
    }
    .slide-services-circle2 {
        left: -31.4375% !important;
        top: 95.444444% !important;
    }
    .slide-title-lg {
        margin-left: 0rem;
        text-align: center;
        position: relative;
        top: -20%;
    }
    .abt-text {
        margin-left: 0rem;
        padding: 0 1rem;
        position: relative;
        top: -20%;
    }
    .slide-personal-projects .slide-title {
        font-size: 6.207407vmin;
        padding: 0 1rem;
    }
    .slide-personal-awards .award-list {
        justify-content: center;
    }
    .award-item {
        padding: 2.1875rem 2rem 2rem;
    }
    .icon-partners {
        width: 5.75rem;
        height: 6.75rem;
    }
    .icon-project{
        width: 5.75rem;
        height: 6.75rem;
    }
    .icon-worldwide{
        width: 5.75rem;
        height: 6.75rem;
    }
    .form-group-material {
        margin-bottom: 1.625rem;
    }
    .form-group-material .label {
        font-size: 1.8rem;
    }
    .form-group-material .form-control {
        font-size: 1.5rem;
    }
    .contact-personal-card .title-mini {
        color: #F09800;
        font-size: 1.5rem;
    }
}